#btnconfirm {
  -fx-border: none;
  -fx-background-color: #2196F3;
  -fx-cursor: pointer;
  -fx-display: inline-block;
  -fx-text-fill: #2196F3;
  -fx-text-fill: white;
  -fx-cursor: hand;
}

#button:hover {
  -fx-background-color: #2196F3;
  -fx-text-fill: white;
}

#btnbrowse, #btnback {
  -fx-border: none;
  -fx-background-color: inherit;
  -fx-cursor: pointer;
  -fx-display: inline-block;
  -fx-text-fill: #2196F3;
  -fx-cursor: hand;
}

#btnbrowse:hover {
  -fx-background-color: #2196F3;
  -fx-text-fill: white;
}

